{% extends 'base.html' %}
{% load cal_tags %}
{% block title %}
    {{ event.title}}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{{ event.title }}</h1>
    </div>
    <ul id="event-description" class="list-group list-group-flush">
        <li class="list-group-item">
            <a data-toggle="collapse" data-parent="#event-description" href="#descriptionCollapse">
                <h4 class="list-group-item-heading">Opis</h4>
            </a>
            <p id="descriptionCollapse" class="list-group-item-text collapse">
                {{ event.description }}
                {{ event.datetime }}
            </p>
        </li>
        <li class="list-group-item">{{ event.location }}</li>
    </ul>
</div>


<div class="card-columns">
    {% for faction in event.factions.all %}
        <div class="card">
            <div class="card-header">
                <span>{{ faction.name | upper }}</span>
                <span class="pull-md-right">
                {% if user_can_signup %}
                    <a href="{% url 'cal:entry-create' event.pk faction.pk %}"
                       class="btn btn-primary btn-sm" id="{{faction.name}}">+</a>
                {% endif %}
                </span>
            </div>
            <ul class="list-group list-group-flush">
                {% for slot in faction.slot_set.all %}
                    <li class="list-group-item">
                        {{ slot.name }}:
                        <span class="pull-xs-right">
                            {% if slot.entry.user %}
                                {{ slot.entry.user }}
                                {% compare_users slot.entry.user request.user as is_request_user %}
                                {% if is_request_user %}
                                    <a href="{% url 'cal:entry-delete' slot.entry.pk %}">
                                        [-]
                                    </a>
                                {% endif %}
                            {% elif user_can_signup %}
                            <a href="{% url 'cal:entry-create-slot' event.pk slot.pk %}">
                                ZAPISZ SIĘ
                            </a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
                {% for entry in faction.get_non_slot_players %}
                    <li class="list-group-item">
                        <span>-</span>
                        <span class="pull-xs-right">{{ entry.user }}
                            {% compare_users entry.user request.user as is_request_user %}
                            {% if is_request_user %}
                                <a href="{% url 'cal:entry-delete' entry.pk %}">
                                    [-]
                                </a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
