{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% verbatim %}
<div class="col-xs-8 col-xs-offset-2">
          <div ui-view></div> <!-- This is where our views will load -->
        </div>

{% endverbatim %}
{% endblock content %}
{% verbatim %}
<div ng-controller="ListCtrl" ng-init="getEvents()">
  <div class="card-columns">
    <div class="card" ng-repeat="item in events">
      <img class="card-img-top img-thumbnail" src="{{ item.poster }}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{ item.title }}</h4>
        <p class="card-text" ng-init="limit = 200;">{{ item.description | limitTo: limit }}{{ item.description.length > limit ? '...' : '' }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}